

#main_div{
  width: 62.5rem;
  margin: auto;
}

hr{
  width: 54.375rem;
}

#wrapper{
  display:grid;
  grid-template-columns:repeat(3, 17.9375rem);  /* 너비 200px인 칼럼 3개 */
  grid-template-rows: minmax(6.25rem, auto);  
  grid-gap:.3125rem .3125rem;  /* 칼럼 간격 30px, 줄 간격 20px  */
}

.box1 {
  grid-column: 1/4;
  width: 54.375rem;
  height: 31.25rem;
  border-radius: 1%;

}



.box2 {
  width: 17.9375rem;
  border-radius: 1%;
}

#div1 {
  display: grid;
  grid-template-columns: 18.75rem 18.75rem;
  margin: .625rem;
}

#date{
  margin: 0rem 3.125rem 0rem 0rem;
}

#div2 {
  display: grid;
  grid-template-columns: 18.75rem 18.75rem;
  margin: .625rem;
}

#person{
  margin: 0rem 3.125rem 0rem 0rem;
}

#room{
  width: 15.625rem;
  margin: 0rem 0rem 0rem .625rem;
}


#roomtype{
  display:grid;
  grid-template-columns:repeat(2, 25rem); 
}
.roomtype1{
  width: 25rem;
  height: 14.375rem;
}

h4{
  text-decoration: underline;
}



@media (max-width : 28.125rem){
  #test{
    display: none;
  }

  body{
    max-width: 28.125rem;
  }
  hr{
    max-width: 28.125rem;
  }
  #nav{
    max-width: 228.125rem;
  }
  #main_div{
    max-width: 28.125rem;
  }

  #main_title{
    font-size: 1.5625rem;
    text-align: left;
    margin-left: 2.5rem;
  }

  #semi_title{
    font-size: .9375rem;
    margin: 0rem 0rem 0rem .3125rem;
  }

  #coment{
    max-width: 28.125rem;
    font-size: .875rem;
    margin: 0rem .3125rem 0rem .3125rem;
  }

  #wrapper{
    display:grid;
    grid-template-columns:repeat(3, 9.1875rem);  /* 너비 200px인 칼럼 3개 */
    grid-gap:.3125rem .3125rem;  /* 칼럼 간격 30px, 줄 간격 20px  */
  }
  
  .box1{
    max-width: 28.125rem; 
    max-height: 16.875rem;
  }
  .box2{
    max-width: 9.1875rem;
  }

  p {
    font-size: .9375rem;
  }

  #select_title{
    font-size: 1.4375rem;
  }

  #date, #person, #room{
    font-size: .9375rem;
  }

  #person{
    margin: 0rem .3125rem 0rem .3125rem;
  }

  #div1 {
      width: 28.125rem;
      display: grid;
      grid-template-columns: 10.75rem 10.75rem;
      margin: .625rem;
  }
  #div1 b{
      width: 10rem;
  }
  #div1 #date{
      width: 10rem;
      float: left;
      overflow: hidden;
  }
  #div2 {
      width: 28.125rem;
      display: grid;
      grid-template-columns: 10.75rem 10.75rem;
      margin: .625rem;
  }

  #roomtype{
    max-width: 28.125rem;
    display: grid;
    grid-template-columns: repeat(1, 28.125rem);
  }


  .roomtype1{
      max-width: 28.125rem;
      font-size: small;
      margin-left: 1.5625rem;
  }


#roomtype h4{
  font-size: 1.0625rem;
  margin-top: .625rem;
}

#roomtype p{
  font-size: .8125rem;
}

#footer_text p{
  font-size: .5625rem;
  margin: .1875rem .25rem .1875rem .25rem;
}
}

